* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}
.counter {
  width: 100vw;
  height: 100vh;
  background: #96e4e070;
  text-align: center;
  padding-top: 30vh;
}
.btn {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 40px;
}
